# Exclude environment variables and credentials
.env
.env.*

# Exclude data files
*.csv
travel_reports.csv

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/

#Headshots folder
member-headshots/